@page
@model GalaxyArmies.Pages.Practice.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Your galaxy army is not found.</h1>
<a class="btn btn-dark" asp-page="./Index"> Back to List</a>

